In [3]:
lista = list(range(100))

In [4]:
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [8]:
pares =[numero for numero in lista if numero % 2 == 0]

In [9]:
print(pares)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [11]:
student_uid = [1,2,30]
students = ['Juan', 'Jose', 'Larsen']

In [12]:
students_with_id = {uid: student for uid, student in zip(student_uid, students)}

In [13]:
print(students_with_id)

{1: 'Juan', 2: 'Jose', 30: 'Larsen'}

In [17]:
import random
random_number = []
for i in range(10):
    random_number.append(random.randint(1,3))

In [18]:
print(random_number)

[2, 3, 3, 2, 3, 3, 3, 1, 3, 2]

In [20]:
non_repeated = {number for  number in random_number}

In [21]:
print(non_repeated)

{1, 2, 3}

In [25]:
A = [1,3,5]
B = [5,8,9,10]

In [26]:
cartesian_product = [(a,b) for a in A  for b in B]

In [27]:
print(cartesian_product)

[(1, 5), (1, 8), (1, 9), (1, 10), (3, 5), (3, 8), (3, 9), (3, 10), (5, 5), (5, 8), (5, 9), (5, 10)]

In [31]:
squares = []

for i in range (2,10):
    squares.append(i**2)

print(squares)

[4, 9, 16, 25, 36, 49, 64, 81]

In [34]:
squares_com = [i**2  for i in range(2,10)]
print(squares_com)

[4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
remainders5 = [x**2 % 5 for x in range(2,10)]  #x2(mod5)
print(remainders5)

[4, 4, 1, 0, 1, 4, 4, 1]

In [38]:
movies = ['Star Wars', 'Gandy', 'Casablanca', 'Shawshank','Toy Story','Gone the Kind', 'citizen', 'Gatta']

In [44]:
gmovies = []
for title in movies:
    if title.startswith("G"):
       gmovies.append(title)
print(gmovies)

['Gandy', 'Gone the Kind', 'Gatta']
<built-in method count of list object at 0x0000018F63F3DD40>

In [42]:
type(movies)

list

In [48]:
peliculas = [title for title in movies if title.startswith('G')]
print(gmovies)

['Gandy', 'Gone the Kind', 'Gatta']

In [49]:
movies = [('Star Wars',1982), ('Gandy', 1985),('Casablanca',1888),('Shawshank', 1887),('Toy Story',2012),('Gone the Kind',2018), ('citizen',1555), ('Gatta', 1547)]

In [50]:
print(movies)

[('Star Wars', 1982), ('Gandy', 1985), ('Casablanca', 1888), ('Shawshank', 1887), ('Toy Story', 2012), ('Gone the Kind', 2018), ('citizen', 1555), ('Gatta', 1547)]

In [59]:
pre2k = [(title,year) for (title,year)  in movies if year<1982]
print(pre2k)

[('Casablanca', 1888), ('Shawshank', 1887), ('citizen', 1555), ('Gatta', 1547)]

In [60]:
pre2k = [title for (title,year)  in movies if year<1982]
print(pre2k)

['Casablanca', 'Shawshank', 'citizen', 'Gatta']

In [63]:
age_d = {'jack': 38, 'michael': 54, 'guido':58 , 'Alex': 44}
print(age_d)

{'jack': 38, 'michael': 54, 'guido': 58, 'Alex': 44}

In [64]:
type(age_d)

dict

In [67]:
{k:v for k,v in age_d.items()}

{'jack': 38, 'michael': 54, 'guido': 58, 'Alex': 44}

In [68]:
{k:v**2 for k,v in age_d.items()}

{'jack': 1444, 'michael': 2916, 'guido': 3364, 'Alex': 1936}

In [75]:
datos = [(i, chr(65+i)) for i in range(4)]
type(datos)

list

In [73]:
chr(65)

'A'

In [74]:
dict([(i, chr(65+i)) for i in range(4)])

{0: 'A', 1: 'B', 2: 'C', 3: 'D'}

In [78]:
{i: chr(65+i) for i in range(4)}

{0: 'A', 1: 'B', 2: 'C', 3: 'D'}